{% comment %} ALN/CFDA {% endcomment %}
<label for="passthrough-name">
    <button type="button"
            class="usa-accordion__button"
            aria-expanded={% if form_user_input.passthrough_name or form_user_input.passthrough_name_flag_migrated %}"true"{% else %}"false"{% endif %}
            aria-controls="passthrough-name">Passthrough Name</button>
</label>
<div id="passthrough-name">
    <textarea class="usa-textarea" name="passthrough_name">{{form_user_input.passthrough_name}}</textarea>
    <div class="usa-checkbox bg-base-lighter">
        <input class="usa-checkbox__input"
                id="passthrough_name_flag_migrated"
                name="passthrough_name_flag_migrated" type="checkbox"
                value="True"
                {% if form_user_input.passthrough_name_flag_migrated %}checked{% endif %} />
        <label class="usa-checkbox__label" for="passthrough_name_flag_migrated">Include audits with missing names?</label>
    </div>
</div>

